.caption-container {
  display: flex;              
  flex-direction: column;      
  width: 400px;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}


.upload-label {
  background: #4caf50;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
}

.upload-label:hover{
   background: #22e029;
}

.upload-label input {
  display: none;
}

.preview-box {
  margin: 20px 0;
}

.preview-img {
  width: 100%;
  border-radius: 10px;
}

.caption-btn {
  background: #2196f3;
  padding: 10px 18px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.caption-btn:hover {
  background: #0b7dda;
}
