.event-wrapper {
  width: 900px;
  max-width: 95%;
  margin: 40px auto;
  padding: 40px;
  background: #9c7fa0;
  margin-top: calc(var(--header-h) + 16px);
  border-radius: 30px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
  color: rgb(255, 254, 254);
}

.event-title {
  font-size: 38px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

.label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.dropdown {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  background: #dfd6d6;
  border: 2px solid #7b42c4;
  border-radius: 14px;
  color:rgb(20, 20, 20);
  outline: none;
}

.dropdown:focus {
  border-color: #ff76a3;
}

.event-btn {
  width: 50%;
  margin: 30px auto 0; /* top 30px, left/right auto, bottom 0 */
  padding: 18px;
  font-size: 20px;
  background:#5f0082;;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;
  display: block; /* needed for margin auto to work */
}


.event-btn:hover {
  transform: scale(1.03);
}

.event-output {
  margin-top: 20px;
  padding: 25px;
  font-size: 18px;
  background:#dfd6d6;
  border: 2px solid #7b42c4;
  border-radius: 14px;
}
