.app-background {
  height: 100vh; /* ensure full viewport */
  width: 100%;
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}
