html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


.app-background {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;   
  align-items: center;
}


.header-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;  
  background: transparent;   
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 5;
}


.center-area {
  flex: 1;                 
  width: 100%;
  display: flex;
  align-items: center;    
  justify-content: center;  
  padding: 40px;
  box-sizing: border-box;
}