.header-container{
    background: white;
    border-radius: 2rem;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10rem;
    font-size: 20px;
   
}

.navbar>li{
    color: rgb(24, 184, 184);
    font-weight: bold;
}

.navbar>li:hover{
    color: aquamarine;
    cursor: pointer;
}