/* remove default gaps */
:root{
  --header-h: 72px; /* keep the header height in one place */
}

html, body { margin: 0; padding: 0; }


/* optional: center the first card nicely on big screens */
#imageCaption, #multiLanguage, #profileCaption, #aboutUs{
  display: flex;
  justify-content: center;
}
